# **Example of automatic classification prediction modelling with the api H20**

In [1]:
## install
#conda install -c h2oai h2o=3.20.0.1

In [1]:
import h2o
from h2o.automl import H2OAutoML
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: java version "1.8.0_181"; Java(TM) SE Runtime Environment (build 1.8.0_181-b13); Java HotSpot(TM) 64-Bit Server VM (build 25.181-b13, mixed mode)
  Starting server from /home/erikapat/anaconda3/lib/python3.7/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmprrtncm1b
  JVM stdout: /tmp/tmprrtncm1b/h2o_erikapat_started_from_python.out
  JVM stderr: /tmp/tmprrtncm1b/h2o_erikapat_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ---------------------------------------------------
H2O cluster uptime:         03 secs
H2O cluster timezone:       Europe/Madrid
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.3
H2O cluster version age:    2 months and 19 days
H2O cluster name:           H2O_from_python_erikapat_pv8h5f
H2O cluster total nodes:    1
H2O cluster free memory:    3.464 Gb
H2O cluster total cores:    4
H2O cluster allowed cores:  4
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, Core V4
Python version:             3.7.4 final
--------------------------  ---------------------------------------------------

In [2]:
df = h2o.import_file('data/train_u6lujuX_CVtuZ9i.csv')
df.head()

Parse progress: |█████████████████████████████████████████████████████████| 100%

Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
LP001002,Male,No,0,Graduate,No,5849,0,nan,360,1,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120,360,1,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0,141,360,1,Urban,Y
LP001011,Male,Yes,2,Graduate,Yes,5417,4196,267,360,1,Urban,Y
LP001013,Male,Yes,0,Not Graduate,No,2333,1516,95,360,1,Urban,Y
LP001014,Male,Yes,nan,Graduate,No,3036,2504,158,360,0,Semiurban,N
LP001018,Male,Yes,2,Graduate,No,4006,1526,168,360,1,Urban,Y
LP001020,Male,Yes,1,Graduate,No,12841,10968,349,360,1,Semiurban,N

In [3]:
type(df)

h2o.frame.H2OFrame

In [4]:
df['Loan_Status'] = df['Loan_Status'].asfactor()

In [5]:
df.describe

Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
LP001002,Male,No,0,Graduate,No,5849,0,nan,360,1,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120,360,1,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0,141,360,1,Urban,Y
LP001011,Male,Yes,2,Graduate,Yes,5417,4196,267,360,1,Urban,Y
LP001013,Male,Yes,0,Not Graduate,No,2333,1516,95,360,1,Urban,Y
LP001014,Male,Yes,nan,Graduate,No,3036,2504,158,360,0,Semiurban,N
LP001018,Male,Yes,2,Graduate,No,4006,1526,168,360,1,Urban,Y
LP001020,Male,Yes,1,Graduate,No,12841,10968,349,360,1,Semiurban,N

In [6]:
y = "Loan_Status"
x = ['Gender','Married','Education','ApplicantIncome',
    'LoanAmount','CoapplicantIncome','Loan_Amount_Term',
    'Credit_History','Property_Area']

In [7]:
aml = H2OAutoML(max_models = 30, max_runtime_secs=300, seed = 1)
aml.train(x = x, y = y, training_frame = df)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [8]:
lb = aml.leaderboard
lb.head()

model_id,auc,logloss,mean_per_class_error,rmse,mse
XGBoost_grid_1_AutoML_20191112_092552_model_3,0.782132,0.48679,0.296653,0.394822,0.155885
DRF_1_AutoML_20191112_092552,0.778319,0.71234,0.298307,0.398046,0.158441
StackedEnsemble_BestOfFamily_AutoML_20191112_092552,0.775085,0.47698,0.295937,0.38981,0.151952
XGBoost_grid_1_AutoML_20191112_092552_model_7,0.77013,0.484244,0.294752,0.392787,0.154282
XGBoost_2_AutoML_20191112_092552,0.769963,0.494983,0.297356,0.399111,0.15929
XRT_1_AutoML_20191112_092552,0.767927,0.559623,0.303281,0.401759,0.16141
XGBoost_grid_1_AutoML_20191112_092552_model_5,0.767433,0.478706,0.294752,0.391843,0.153541
GBM_1_AutoML_20191112_092552,0.766946,0.495518,0.308958,0.397398,0.157925
XGBoost_grid_1_AutoML_20191112_092552_model_1,0.76689,0.486253,0.293333,0.395389,0.156332
StackedEnsemble_AllModels_AutoML_20191112_092552,0.765841,0.483699,0.298541,0.393367,0.154738

In [12]:
# predict and save
preds = aml.predict(df)
#save model
#h2o.save_model(aml.leader, path = "./Loan_Pred_Model_III_shaz13")

xgboost prediction progress: |████████████████████████████████████████████| 100%

In [13]:
preds = preds.as_data_frame()

In [16]:
preds.head()

  predict         N         Y
0       Y  0.277237  0.722763
1       N  0.614261  0.385739
2       Y  0.146095  0.853905
3       Y  0.049931  0.950069
4       Y  0.068774  0.931226

In [18]:
df.head()

Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
LP001002,Male,No,0,Graduate,No,5849,0,nan,360,1,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120,360,1,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0,141,360,1,Urban,Y
LP001011,Male,Yes,2,Graduate,Yes,5417,4196,267,360,1,Urban,Y
LP001013,Male,Yes,0,Not Graduate,No,2333,1516,95,360,1,Urban,Y
LP001014,Male,Yes,nan,Graduate,No,3036,2504,158,360,0,Semiurban,N
LP001018,Male,Yes,2,Graduate,No,4006,1526,168,360,1,Urban,Y
LP001020,Male,Yes,1,Graduate,No,12841,10968,349,360,1,Semiurban,N