# **Example of automatic classification prediction modelling with the api H20**

In [4]:
## install
#in linux
#conda install -c h2oai h2o=3.20.0.1
#in mac
#https://h2o-release.s3.amazonaws.com/h2o/master/3888/docs-website/h2o-docs/downloading.html

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from current channels:

  - h2o=3.20.0.1

Current channels:

  - https://conda.anaconda.org/h2oai/osx-64
  - https://conda.anaconda.org/h2oai/noarch
  - https://repo.anaconda.com/pkgs/main/osx-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/r/osx-64
  - https://repo.anaconda.com/pkgs/r/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.

In [1]:
import h2o
from h2o.automl import H2OAutoML
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "1.8.0_152-release"; OpenJDK Runtime Environment (build 1.8.0_152-release-1056-b12); OpenJDK 64-Bit Server VM (build 25.152-b12, mixed mode)
  Starting server from /Users/erikapat/anaconda3/lib/python3.7/site-packages/h2o/backend/bin/h2o.jar
  Ice root: /var/folders/nj/tcdmjt1954x5bp_7_l7cn2k40000gn/T/tmp2k8hcrld
  JVM stdout: /var/folders/nj/tcdmjt1954x5bp_7_l7cn2k40000gn/T/tmp2k8hcrld/h2o_erikapat_started_from_python.out
  JVM stderr: /var/folders/nj/tcdmjt1954x5bp_7_l7cn2k40000gn/T/tmp2k8hcrld/h2o_erikapat_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O cluster uptime:         01 secs
H2O cluster timezone:       Europe/Madrid
H2O data parsing timezone:  UTC
H2O cluster version:        3.26.0.10
H2O cluster version age:    9 days
H2O cluster name:           H2O_from_python_erikapat_ddld9v
H2O cluster total nodes:    1
H2O cluster free memory:    3.556 Gb
H2O cluster total cores:    0
H2O cluster allowed cores:  0
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:54321
H2O connection proxy:       {'http': None, 'https': None}
H2O internal security:      False
H2O API Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python version:             3.7.4 final
--------------------------  ------------------------------------------------------------------

In [2]:
df = h2o.import_file('data/train_u6lujuX_CVtuZ9i.csv')
df.head()

Parse progress: |█████████████████████████████████████████████████████████| 100%

Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
LP001002,Male,No,0,Graduate,No,5849,0,nan,360,1,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120,360,1,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0,141,360,1,Urban,Y
LP001011,Male,Yes,2,Graduate,Yes,5417,4196,267,360,1,Urban,Y
LP001013,Male,Yes,0,Not Graduate,No,2333,1516,95,360,1,Urban,Y
LP001014,Male,Yes,nan,Graduate,No,3036,2504,158,360,0,Semiurban,N
LP001018,Male,Yes,2,Graduate,No,4006,1526,168,360,1,Urban,Y
LP001020,Male,Yes,1,Graduate,No,12841,10968,349,360,1,Semiurban,N

In [3]:
type(df)

h2o.frame.H2OFrame

In [4]:
df['Loan_Status'] = df['Loan_Status'].asfactor()

In [5]:
df.describe

Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
LP001002,Male,No,0,Graduate,No,5849,0,nan,360,1,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120,360,1,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0,141,360,1,Urban,Y
LP001011,Male,Yes,2,Graduate,Yes,5417,4196,267,360,1,Urban,Y
LP001013,Male,Yes,0,Not Graduate,No,2333,1516,95,360,1,Urban,Y
LP001014,Male,Yes,nan,Graduate,No,3036,2504,158,360,0,Semiurban,N
LP001018,Male,Yes,2,Graduate,No,4006,1526,168,360,1,Urban,Y
LP001020,Male,Yes,1,Graduate,No,12841,10968,349,360,1,Semiurban,N

In [6]:
y = "Loan_Status"
x = ['Gender','Married','Education','ApplicantIncome',
    'LoanAmount','CoapplicantIncome','Loan_Amount_Term',
    'Credit_History','Property_Area']

In [7]:
aml = H2OAutoML(max_models = 30, max_runtime_secs=300, seed = 1)
aml.train(x = x, y = y, training_frame = df)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [8]:
lb = aml.leaderboard
lb.head()

model_id,auc,logloss,mean_per_class_error,rmse,mse
DRF_1_AutoML_20191116_145011,0.778319,0.71234,0.298307,0.398046,0.158441
XGBoost_grid_1_AutoML_20191116_145011_model_3,0.772753,0.491016,0.296887,0.39651,0.15722
StackedEnsemble_BestOfFamily_AutoML_20191116_145011,0.771765,0.474827,0.290729,0.388943,0.151277
XGBoost_1_AutoML_20191116_145011,0.768889,0.477044,0.292148,0.390604,0.152571
XRT_1_AutoML_20191116_145011,0.767927,0.559623,0.303281,0.401759,0.16141
GBM_1_AutoML_20191116_145011,0.766946,0.495518,0.308958,0.397398,0.157925
XGBoost_grid_1_AutoML_20191116_145011_model_7,0.766822,0.485314,0.294752,0.393139,0.154558
XGBoost_grid_1_AutoML_20191116_145011_model_4,0.766187,0.484269,0.293333,0.394066,0.155288
XGBoost_2_AutoML_20191116_145011,0.765588,0.494801,0.294752,0.398957,0.159166
XGBoost_3_AutoML_20191116_145011,0.763243,0.484189,0.293333,0.394297,0.15547

In [9]:
# predict and save
preds = aml.predict(df)
#save model
#h2o.save_model(aml.leader, path = "./Loan_Pred_Model_III_shaz13")

drf prediction progress: |████████████████████████████████████████████████| 100%

In [10]:
preds = preds.as_data_frame()

In [11]:
preds.head()

  predict         N         Y
0       Y  0.295154  0.704846
1       Y  0.651064  0.348936
2       Y  0.087199  0.912801
3       Y  0.002093  0.997907
4       Y  0.021277  0.978723

In [12]:
df.head()

Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
LP001002,Male,No,0,Graduate,No,5849,0,nan,360,1,Urban,Y
LP001003,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural,N
LP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y
LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120,360,1,Urban,Y
LP001008,Male,No,0,Graduate,No,6000,0,141,360,1,Urban,Y
LP001011,Male,Yes,2,Graduate,Yes,5417,4196,267,360,1,Urban,Y
LP001013,Male,Yes,0,Not Graduate,No,2333,1516,95,360,1,Urban,Y
LP001014,Male,Yes,nan,Graduate,No,3036,2504,158,360,0,Semiurban,N
LP001018,Male,Yes,2,Graduate,No,4006,1526,168,360,1,Urban,Y
LP001020,Male,Yes,1,Graduate,No,12841,10968,349,360,1,Semiurban,N